In [21]:
import folium
import pandas as pd
from Distance import DistanceMatrix
import ortools
from ortools.constraint_solver import routing_enums_pb2
from ortools.constraint_solver import pywrapcp

In [22]:
df_locations = pd.read_csv('./Data/15loc.csv')
df_locations

                      name      lat       lon
0          Denver_Colorado  39.7392 -104.9903
1         Key_West_Florida  24.5550  -81.8243
2         Chicago_Illinois  41.8781  -87.6298
3       Seattle_Washington  47.6062 -122.3321
4   New_York_City_New_York  40.7128  -74.0060
5   Los_Angeles_California  34.0522 -118.2437
6          Atlanta_Georgia  33.7489  -84.3879
7             Dallas_Texas  32.7767  -96.7970
8    Minneapolis_Minnesota  44.9778  -93.2650
9          Phoenix_Arizona  33.4484 -112.0740
10           Miami_Florida  25.7617  -80.1918
11        Las_Vegas_Nevada  36.1699 -115.1398
12         Portland_Oregon  45.5234 -122.6751

In [23]:
dict_locations = df_locations.to_dict(orient='records')
distancematrix = DistanceMatrix(dict_locations)
distancematrix

[[0, 3567, 1921, 2133, 3405, 1736, 2532, 1386, 1461, 1225, 3610, 1266, 2053],
 [3567, 0, 2599, 5691, 2520, 4764, 1368, 2237, 3242, 4018, 275, 4455, 5620],
 [1921, 2599, 0, 3626, 1487, 3646, 1232, 1683, 742, 3038, 2493, 3183, 3671],
 [2133, 5691, 3626, 0, 5026, 2009, 4558, 3515, 2911, 2332, 5716, 1823, 303],
 [3405, 2520, 1487, 5026, 0, 5117, 1560, 2868, 2126, 4478, 2285, 4661, 5104],
 [1736, 4764, 3646, 2009, 5117, 0, 4044, 2590, 3183, 746, 4887, 478, 1729],
 [2532, 1368, 1232, 4558, 1560, 4044, 0, 1505, 1900, 3324, 1268, 3645, 4538],
 [1386, 2237, 1683, 3515, 2868, 2590, 1505, 0, 1807, 1851, 2323, 2237, 3414],
 [1461, 3242, 742, 2911, 2126, 3183, 1900, 1807, 0, 2675, 3168, 2706, 2978],
 [1225, 4018, 3038, 2332, 4478, 746, 3324, 1851, 2675, 0, 4141, 535, 2104],
 [3610, 275, 2493, 5716, 2285, 4887, 1268, 2323, 3168, 4141, 0, 4557, 5661],
 [1266, 4455, 3183, 1823, 4661, 478, 3645, 2237, 2706, 535, 4557, 0, 1582],
 [2053, 5620, 3671, 303, 5104, 1729, 4538, 3414, 2978, 2104, 5661, 1582, 0]]

In [24]:
def create_data_model():
    """Stores the data for the problem."""
    data = {}
    data["distance_matrix"] = distancematrix
    data["num_vehicles"] = 1
    data["depot"] = 0
    return data

In [25]:
routes = []

def print_solution(manager, routing, solution):
    """Prints solution on console."""
    print(f"Objective: {solution.ObjectiveValue()} miles")
    index = routing.Start(0)
    plan_output = "Route for vehicle 0:\n"
    route_distance = 0
    while not routing.IsEnd(index):
        plan_output += f" {manager.IndexToNode(index)} ->"
        previous_index = index
        index = solution.Value(routing.NextVar(index))
        route_distance += routing.GetArcCostForVehicle(previous_index, index, 0)
    plan_output += f" {manager.IndexToNode(index)}\n"
    print(plan_output)
    plan_output += f"Route distance: {route_distance}miles\n"

def get_routes(solution, routing, manager):
  global routes
  routes = []
  for route_nbr in range(routing.vehicles()):
    index = routing.Start(route_nbr)
    route = [manager.IndexToNode(index)]
    while not routing.IsEnd(index):
      index = solution.Value(routing.NextVar(index))
      route.append(manager.IndexToNode(index))
    routes.append(route)
  return routes
    
def main():
    """Entry point of the program."""
    # Instantiate the data problem.
    data = create_data_model()

    # Create the routing index manager.
    manager = pywrapcp.RoutingIndexManager(
        len(data["distance_matrix"]), data["num_vehicles"], data["depot"]
    )

    # Create Routing Model.
    routing = pywrapcp.RoutingModel(manager)


    def distance_callback(from_index, to_index):
        """Returns the distance between the two nodes."""
        # Convert from routing variable Index to distance matrix NodeIndex.
        from_node = manager.IndexToNode(from_index)
        to_node = manager.IndexToNode(to_index)
        return data["distance_matrix"][from_node][to_node]

    transit_callback_index = routing.RegisterTransitCallback(distance_callback)

    # Define cost of each arc.
    routing.SetArcCostEvaluatorOfAllVehicles(transit_callback_index)

    # Setting first solution heuristic.
    search_parameters = pywrapcp.DefaultRoutingSearchParameters()
    search_parameters.first_solution_strategy = (
        routing_enums_pb2.FirstSolutionStrategy.PATH_CHEAPEST_ARC
    )

    # Solve the problem.
    solution = routing.SolveWithParameters(search_parameters)

    # Print solution on console.
    if solution:
        print_solution(manager, routing, solution)
    
        routes = get_routes(solution, routing, manager)
        # Display the routes.
        for i, route in enumerate(routes):
            print('Route', i, route)  


if __name__ == "__main__":
    main()

Objective: 16136 miles
Route for vehicle 0:
 0 -> 9 -> 11 -> 5 -> 12 -> 3 -> 8 -> 2 -> 4 -> 6 -> 10 -> 1 -> 7 -> 0

Route 0 [0, 9, 11, 5, 12, 3, 8, 2, 4, 6, 10, 1, 7, 0]

# Plot using Folium

In [26]:
# Recall Data
df_locations

                      name      lat       lon
0          Denver_Colorado  39.7392 -104.9903
1         Key_West_Florida  24.5550  -81.8243
2         Chicago_Illinois  41.8781  -87.6298
3       Seattle_Washington  47.6062 -122.3321
4   New_York_City_New_York  40.7128  -74.0060
5   Los_Angeles_California  34.0522 -118.2437
6          Atlanta_Georgia  33.7489  -84.3879
7             Dallas_Texas  32.7767  -96.7970
8    Minneapolis_Minnesota  44.9778  -93.2650
9          Phoenix_Arizona  33.4484 -112.0740
10           Miami_Florida  25.7617  -80.1918
11        Las_Vegas_Nevada  36.1699 -115.1398
12         Portland_Oregon  45.5234 -122.6751

In [27]:
# Initialize map
map_center = [df_locations['lat'].mean(), df_locations['lon'].mean()]
custom ="cartodb positron"
map = folium.Map(location=map_center, zoom_start=4, tiles=custom)

# Choose location
locations = df_locations

# Name of map
map_name = "./maps/TSP2.html"
map.save(map_name)

In [28]:
# Add marker
destination = df_locations.drop(index=0)

for _,row in destination.iterrows():
    folium.Circle(
        location=[row['lat'],row['lon']],
        radius=10000,  # Radius in pixels
        color='red',
        fill=True,
        fill_color='red',
        fill_opacity=0.6,
        tooltip=row['name'],
    ).add_to(map)

""" folium.Marker(
    location=[df_locations.iloc[0]['lat'],df_locations.iloc[0]['lon']],
    popup=df_locations.iloc[0]['name'],
    icon=folium.Icon(color='lightred') 
    ).add_to(map) """

folium.Circle(
    location=[df_locations.iloc[0]['lat'],df_locations.iloc[0]['lon']],
    radius=10000,  # Radius in pixels
    color='blue',
    fill=True,
    fill_color='blue',
    fill_opacity=0.6,
    tooltip=df_locations.iloc[0]['name']
).add_to(map)

map.save(map_name)

In [29]:
#Recall answer
answer = routes[0]
answer

[0, 9, 11, 5, 12, 3, 8, 2, 4, 6, 10, 1, 7, 0]

In [31]:
def Mapping(df, ans):
    coordinates = []
    for index in ans:
        coordinates.append([df.iloc[index]['lat'], df.iloc[index]['lon']])
    coordinates.append(coordinates[0])  
    return coordinates

In [32]:
coordinates = Mapping(df_locations,answer)
# Add edge 
folium.PolyLine(
    locations=coordinates,
    color="#ff6f00",
    weight=1,
    tooltip="TSP"
).add_to(map)

map.save(map_name)